.App {
  text-align: center;
}

.countries-link li {
  list-style: none;
  /* padding: 0.5em 1em; */
  color: black;
  display: flex;
  align-items: flex-start;
}

.countries-link a {
  text-decoration: none;
  color: red;
}
.countries-link li:hover {
  color: grey;
}

.countries-link img {
  width: 2em;
  margin-right: 0.5em;
}
